* {
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252C;
    font-family: Inter, sans-serif;  
}
.card {
    background-color: #1A1B21;
    width: 317px;
    margin: 30px auto;
    overflow:hidden;
    border-radius: 10px;   
}

/*Info*/
.info--wrapper {
    width: 317px;
    text-align: center;
}
img {
    width: 100%;
}
.info--content {
    text-align: center;
}
.info--name {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: -10px;
}
.info--title {
    color: #F3BF99;
    font-size: 12.8px;
    margin-bottom: 0px;
}
.info--website {
    color: #F5F5F5;
    font-size: 10.24px;
    margin-bottom: 20px;
}
button {
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}
span {
    display: block;
    color: #374151;
    font-size: 14px;
}
/* ABOUT */
.about--wrapper {
    color: #ffffff;
    padding: 0 40px;
    margin-top: 30px;
}
h3 {
    font-size: 16px;
    color: F5F5F5;
}
.about-content {
    margin-top: -10px;
    font-size: 10.24px;
    line-height: 1.4;
    color: #DCDCDC;
}
/*INTEREST*/
.interest--wrapper {
    color: #ffffff;
    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.interest-content {
    margin-top: -10px;
    font-size: 10.24px;
    line-height: 1.4;
    color: #DCDCDC;
}
/*FOOTER*/
footer {
    background-color: #161619;
    display: flex;
    justify-content: center;
}
svg {
    margin: 12px;
}